ul{
    list-style-type:none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 10px;
}
.info-items{
    font-size:1rem ;
    font-family:"Bebas Neue", sans-serif ;
    display: flex;
    align-items: center;
}

.Navbar{
    background-color:rgb(169, 29,32,0.8);
    
}
i{
    font-size: 30px;
    margin-right: 10px;
}


.nav-link{
    color: rgb(255, 247, 247);
    
}

.search{
    background-color: white;
}
.logo{
 height: 4rem;
}

.icon-small{
    font-size: 2rem;
    margin-top: 0em;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.category-salchipapa{
    position: relative;
    width: 30%;
    height: 30%;
}

.imagen{
display: block;
}

.superpuesto{
    position: absolute;
    top: 50%; /* Centra el texto verticalmente */
    left: 20%; /* Centra 2l texto horizontalmente */
    transform: translate(-50%, -50%);
}
/* locales */

.subtit{
    font-family: "Bebas Neue", sans-serif;

}

.sesion{
    border: none;
    background-color: aliceblue;
   
}

.icon-white{
    color: aliceblue;

}