
    <div class="container">
    <h1 class="subtit d-flex justify-content-center">Nuestro local</h1>
    <div class="map-descrip d-flex flex-row ">
        <iframe class="col-5 me-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.85383012241948!2d-75.20914637054608!3d-12.066810376325414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e964ec4535a47%3A0x175b360cb43f9906!2sJir%C3%B3n%20Puno%20250%2C%20Huancayo%2012001!5e0!3m2!1ses!2spe!4v1729471232302!5m2!1ses!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="10rem" style="border:1px"></iframe>  
        <p class="ml-5">Contamos con ubicaciones estratégicas en los puntos más importantes de la ciudad, para que siempre encuentres un
            local cerca de ti. Cada uno de nuestros espacios ha sido cuidadosamente ambientado para que disfrutes de un
            ambiente moderno, limpio y cómodo, acompañado del mejor servicio.
    
            Nuestro personal está capacitado para atenderte con rapidez y amabilidad, asegurando que tu experiencia sea
            siempre placentera. Además, en cada local, encontrarás nuestro menú completo con una amplia variedad de opciones
            para todos los gustos, desde nuestras icónicas hamburguesas hasta las ensaladas frescas y postres irresistibles.
    
            Te invitamos a visitar cualquiera de nuestros locales y vivir una experiencia gastronómica inigualable. ¡Te
            esperamos con los brazos abiertos!
        </p>
        </div>
    </div>
